.btn-success {
  background-color: #76c00d;
  border-radius: 2rem;
}
.btn-outline-success {
  color: #FFA500;
  border-radius: 2rem;
}
.btn-outline-success:hover {
  background-color: #76c00d;
}
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Pacifico', cursive;
}
h3 {
  font-family: 'Dancing Script', cursive;
}
h4 {
  font-family: 'Akaya Kanadaka', cursive;
  width: 60%;
}
.header-page {
  background-image: url("../images/header.jpg");
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-content {
  font-size: 5rem
}
.nav-item {
  font-size: 1.5rem;
}
.item-login {
  width: 20%;
}
.btn {
  font-size: 1.5rem;
}

.link-header {
  font-family: 'Akaya Kanadaka', cursive;
  color: white;
  width: 30%;
  font-size: 2.2rem;

}
.link-header:hover {
  color: white;
}
a {
  color: #FFA500;
  text-decoration: none !important;
}
a:hover {
  color: #76c00d;
}
.footer-top {
  height: 20vh;
  background-color: #fcece5;
}
.footer-bottom {
  background-color: #76c00d;
}
.link-bottom {
  color: white;
}
.link-bottom:hover {
  color: white;
}
.features-icon {
  font-size: 2.2rem;
}
.item-section {
  width: 20rem;
}
